
input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 10px 0;
    margin-left: 400px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 6px;
    resize: none;
    margin-left: 400px;
    
  }

  
 button[type=submit] {
    background-color: #3e82b6;
    border: none;
    padding: 16px 25px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 400px;
    border-radius: 10px;
  }
  