
  
  #NAV {
    background-color: #e0eef6;
   

  }
  #headmenu {
    padding: 1.5rem;
    display: flex; 
    
    justify-content: space-between;
    list-style: none;
    align-items:flex-end;
   
   
  }
  #headmenu  a {
    font-family: "montserrat", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;

  }
  h1{
    text-align: center;
  }